.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.full-height-background {
  height: 100vh;
  background-image: url("https://cdn.motor1.com/images/mgl/yM0wl/s1/novitec-ferrari-f8-tributo.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.full-height-background-no-car {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.margin-auto {
  margin-inline: auto;
  display: inline;
}
.bottom-button {
  position: absolute;
  bottom: 100px;
  left: 40%;
  transform: translateX(-50%);
  width: 10%;
}

.bottom-button2 {
  position: absolute;
  bottom: 100px;
  left: 60%;
  transform: translateX(-50%);
  width: 10%;
}

.footertext {
  color: rgb(126, 126, 126);
}

.footertext:hover {
  color: black;
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
